* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #000000;
    background-color: #f4f5ff;
}

a {
    text-decoration: none;
    
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    width: 94%;
    margin: 2em auto;
}


#header {
    width: 100%;
    display: block;
}

.header-inner {
    width: 94%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}

.header-logo {
    max-width: 200px;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.header-r {
    display: flex;
    align-items: center;
}

.header-r a {
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 400;
    color: #0b1921;
    text-transform: uppercase;
    padding: 8px 15px;
}

.header-r a.addp-btn {
    background-color: #0080c4;
    color: #ffffff;
}

/* Container */

.d-container {
    display: flex;
    flex-direction: column;
    width: 94%;
    max-width: 1100;
    margin: 0 auto;
    padding: 30px 0;
}

.d-row {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    padding: 0 20px;
}

.d-title {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.d-title h1 {
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: 300;
    color: #0b1921;
    line-height: 1.4;
    text-transform: uppercase;
}
.d-title h1 b {
    font-weight: 900;
}
.d-title p {
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 300;
    color: #0b1921;
    line-height: 1.4;
    text-transform: uppercase;
}

.d-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 25px;
}

.d-detail-box {
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    margin: 5px 10px;
    display: flex;
    align-items: center;
}

.d-d-type i {
    background: linear-gradient(#ed2424, #f99d1c);
    color: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    margin-right: 10px;
}

.d-detail-box span {
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
}

.d-d-value {
    font-weight: 700;
    margin-left: 10px;
}
.d-d-value i {
    font-weight: 300;
}

.d-d-value #setamm-open {
    display: none;
}
.d-d-value #setamm-open.select-active {
    display: inline-block;
}
.d-d-value #changeamm {
    display: inline-block;
}
.d-d-value #selectamm {
    padding: 0.2em 1em;
    font-family: inherit;
    font-size: 0.8em;
    display: block;
}
.d-d-value #setamm-open p {
    font-size: 0.8em;
    letter-spacing: 1px;
    color: #0b1921;
    font-weight: 300;
}

.d-d-value a {
    color: #ffffff;
    background-color: #0b1921;
    font-weight: 400;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.1em 0.8em;
    border-radius: 2em;
}

.d-competition {
    width: 94%;
    display: flex;
    align-items: baseline;
    margin: 4em 0 6em 0;
    background-color: #f9f9f9;
    border: 1px solid rgba(11, 25, 33,0.2);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 3em 3% 2em 3%;
    position: relative;
}

.d-competition::before {
    content: "";
    width: 70%;
    height: 2px;
    background-color: #0b1921;
    border-radius: 2em;
    position: absolute;
    bottom: -2em;
    left: 50%;
    transform: translateX(-50%);
}

.d-competition::after {
    content: "";
    width: 50%;
    max-width: 100px;
    height: 8px;
    background-color: #85ab30;
    position: absolute;
    bottom: -2.6em;
    left: 50%;
    transform: translateX(-50%);
}


.d-comp-box {
    flex: 1;
    padding: 1em 1em;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    margin: 5px 10px;
    display: flex;
    align-items: center;
}

.comp-box-name {
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0b1921;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
}

.d-comp-b-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.d-c-icon {
    width: 40px;
    height: 40px;
    background: linear-gradient(#2e2e89, #00aaeb);
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
}
.d-c-icon i {
    line-height: 40px;
    color: #ffffff;
    font-size: 18px;
}
.comp-box-name .d-c-icon {
    max-width: 30px;
    height: 30px;
    margin-right: 1em;
}
.comp-box-name .d-c-icon i {
    line-height: 30px;
    color: #ffffff;
    font-size: 14px;
}

.d-c-data {
    width: 94%;
    margin: 0 auto;
}

.d-c-data p {
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 1em 0 0 0;
    line-height: 1.2;
}

.d-c-data h1 {
    font-size: 1.4em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

.comp-box-name .d-c-data p {
    font-weight: 400;
    color: #ffffff;
    line-height: 1;
    margin: 0;
}
.comp-box-name .d-c-data h1 {
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
}

.d-c-data ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.d-c-data ul li {
    display: flex;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 5px 0;
    justify-content: center
}
.d-c-data ul li span {
    width: 16px;
    height: 16px;
    background-color: #0b1921;
    display: inline-block;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
}

.comp-status-unpaid {
    background: linear-gradient(#ed2424, #f99d1c);
}
.comp-status-unpaid .d-c-icon {
    background: linear-gradient(#ffffff, #ffffff);
}
.comp-status-unpaid .d-c-icon i {
    color: #ed2424;
}
.comp-status-unpaid h1 {
    font-weight: 700;
}
.comp-status-unpaid p,
.comp-status-unpaid h1 {
    color: #ffffff;
}



.comp-status-paid {
    background: linear-gradient(#4b9033, #f5ec08);
}
.comp-status-paid .d-c-icon {
    background: linear-gradient(#ffffff, #ffffff);
}
.comp-status-paid .d-c-icon i {
    color: #4b9033;
}
.comp-status-paid h1 {
    font-weight: 700;
}
.comp-status-paid p,
.comp-status-paid h1 {
    color: #ffffff;
}


/* Footer */


#footer {
    width: 100%;
    display: flex;
    background-color: #0b1921;
}

.footer-inner {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer-inner p {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2em 1em;
    text-align: center;
}

/* Participation */

.form-row-checks-all {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-row-check {
    flex: 31%;
    max-width: 31%;
    margin: 1% 1%;
    border: 1px solid #d7d8e2;
    position: relative;
}
.form-row-check input {
    display: none;
}
.form-row-check label {
    display: block;
    width: 100%;
    padding: 1em 2em;
    cursor: pointer;
    text-align: center;
    opacity: 0.7;
}
.form-row-check label:hover {
    opacity: 1;
}

.form-row-check label .comp-head-cat {
    display: table;
    margin: 0 auto;
    background-color: #85ab30;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    padding: 0.1em 1em;
}
.form-row-check label .comp-title {
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0b1921;
    font-weight: 900;
    padding: 0.1em 0 0.5em 0;
}

.form-row-check label .comp-members {
    display: flex;
    justify-content: space-around;
}

.form-row-check label .comp-mem-box {
    text-transform: uppercase;
    position: relative;
}
.form-row-check label .comp-mem-box::before {
    content: "";
    width: 8px;
    height: 2px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0080c4;
    position: absolute;
}
.form-row-check label .comp-mem-box span {
    font-weight: 700;
}
.comp-price {
    display: flex;
    align-items: center;
}
.comp-abs-check {
    display: none;
}
.comp-price-text {
    font-weight: 700;
    font-size: 2em;
    color: #0b1921;
}
.comp-price-text span {
    font-weight: 300;
}
.comp-price-about {
    background-color: #f26322;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    padding: 0.1em 0.5em;
    margin-left: 0.5em;
}

.form-row-check input:checked ~ label {
    background-color: #85ab30;
    opacity: 1;
}
.form-row-check input:checked ~ label .comp-abs-check {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    left: 5%;
    top: -15px;
    background-color: #ffffff;
    color: #85ab30;
    font-size: 1.2em;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.form-row-check input:checked ~ label .comp-head-cat,
.form-row-check input:checked ~ label .comp-price-about {
    background-color: rgba(0, 0, 0, 0.2);
}

.form-row-check input:checked ~ label .comp-title,
.form-row-check input:checked ~ label .comp-mem-box,
.form-row-check input:checked ~ label .comp-price-text {
    color: #ffffff;
}

.d-form .form-row-checks,
.d-form .form-submit {
    margin-top: 2em;
}

.d-form-body .select-box {
    flex: 0 0;
}
.alotFields {
    position: relative;
    width: 100%;
}

.d-form-top {
    width: 100%;
    display: flex;
    margin-bottom: 5em;
}

.d-form-t-box {
    flex: 1;
    color: #0b1921;
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.d-form-t-box::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #0080c4;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
}

.d-form-t-box span {
    display: block;
    font-size: 0.8em;
    font-weight: 400;
}

.d-confirm-row {
    display: flex;
    flex-direction: column;
    margin: 3em 0;
}

.d-confirm-detail {
    font-size: 1.6em;
    color: #0b1921;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1em 0 3em 0;
    position: relative;
}

.d-confirm-detail::before {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: -10px;
    width: 40%;
    max-width: 100px;
    height: 2px;
    background-color: #0080c4
}

.d-confirm-detail span {
    font-weight: 400;
    display: inline-block;
    min-width: 150px;;
}

.d-confirm-detail span.d-c-team {
    display: inline-block;
    background-color: #0b1921;
    font-size: 0.8em;
    letter-spacing: 3px;
    color: #fff;
    padding: 0.2em 1em;
    font-weight: 300;
    position: relative;
    margin: 0 0.5em;
}

.d-confirm-detail span.d-c-team::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #0080c4;
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
}

.d-confirm-cost {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5em 0 3em 0;
}

.d-confirm-cost-box,
.d-confirm-discount-box {
    flex: 1;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-confirm-discount-box {
    margin: 0 1em;
}

.d-confirm-cost-box h1,
.d-confirm-discount-box h1 {
    font-weight: 300;
    color: #0b1921;
    font-size: 2em;
    line-height: 1.2;
}
.d-confirm-discount-box h1 span {
    color: #85ab30;
}
.d-confirm-cost-box h1 span {
    color: #f26322;
}
.d-confirm-discount-box h1 span,
.d-confirm-cost-box h1 span {
    font-weight: 900;
}

.d-confirm-cost-box p,
.d-confirm-discount-box p {
    font-size: 1.2em;
    font-weight: 300;
    color: #0b1921;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.d-confirm-discount {
    flex: 2;
    border-left: 3px solid #85ab30;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
.d-confirm-discount .form-row-box {
    position: relative;
}

.d-confirm-discount .form-submit {
    align-self: flex-end;
    margin-bottom: 0;
}

.d-confirm-discount .form-row-box label {
    padding-top: 0;
}

.d-confirm-discount .form-submit button {
    display: block;
    border-radius: 2em;
    font-size: 1.2em;
    line-height: 1.5;
    font-family: inherit;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    background: #85ab30;
    border: none;
    padding: 1.2em 2em;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-msg-box {
    width: 100%;
    padding: 0.6em 1em;
    font-size: 1em;
    display: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.form-msg-box.error-msg {
    display: block;
    color: red;
}
.form-msg-box.success-msg {
    display: block;
    font-weight: 700;
    color: #85ab30;
}

.d-msg-progress {
    width: 100%;
    display: block;
    padding: 1em 2em;
    background-color: #f4f5ff;
    border-left: 3px solid #85ab30;
}

.d-msg-progress p {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #0b1921;
}

.d-msg-progress p a {
    font-weight: 400;
    color: #0b1921;
    border-bottom: 1px solid #0b1921;
}

.d-msg-progress ul {
    margin: 0;
    padding: 0 2em;
    list-style: none;
}
.d-msg-progress ul li {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #0b1921;
    margin: 1em 0;
    position: relative;
}
.d-msg-progress ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #85ab30;
    position: absolute;
    top: 6px;
    left: -1em;
}
.d-msg-progress ul li a {
    font-weight: 400;
    color: #0b1921;
    border-bottom: 1px solid #0b1921;
}


@media (max-width: 1100px){

    .d-confirm-detail {
        margin: 0.5em 0 2em 0;
    }

    .d-confirm-cost {
        justify-content: center;
        flex-wrap: wrap;
        margin: 3em 0;
    }
    .d-confirm-cost-box {
        flex: 40%;
        padding: 2em 0;
        text-align: center;
    }
    .d-confirm-discount-box {
        flex: 40%;
        padding: 2em 0;
        text-align: center;
    }
    .d-confirm-discount {
        flex: auto;
        justify-content: center;
    }

}

@media (max-width: 850px){
    .form-row-check {
        flex: 48%;
        max-width: 48%;
        margin: 1% 1%;
        border: 1px solid #d7d8e2;
        position: relative;
    }


}

@media (max-width: 700px){

    .header-inner {
        flex-direction: column;
        align-items: center;
    }
    .header-logo {
        max-width: 160px;
        margin-bottom: 2em;
    }

    .d-row {
        margin: 2em 0;
        padding: 0 0;
    }

    .d-title h1 {
        font-size: 1.6em;
        letter-spacing: 2px;
    }

    .d-title p {
        font-size: 1em;
        letter-spacing: 1px;
    }

    .d-details {
        margin-top: 0;
    }

    .d-detail-box span.d-d-type,
    .d-detail-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .d-d-type i {
        margin-right: 0;
    }


    .d-competition{
        width: 100%;
    }    
    .comp-box-name {
        width: 94%;
    }
    


    .d-form-top {
        flex-direction: column;
        margin: 0;
    }

    .d-form-t-box {
        margin-bottom: 2em;
    }

    .d-form-t-box::before {
        width: 40px;
        height: 2px;
        bottom: -0.5em;
    }

    .d-confirm-row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .d-confirm-detail {
        flex: 50% ;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        text-align: center;
        align-self: baseline;
    }
    .d-confirm-detail::before {
        content: "";
        position: absolute;
        bottom: -0.5em;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        max-width: 100px;
        height: 2px;
        background-color: #0080c4;
    }

    .d-confirm-detail span.d-c-team {
        margin: 0.3em 0.5em;
        align-self: center;
    }

    .d-confirm-discount .form-row-box {
        flex: 1;
    }
    .d-confirm-discount .form-row-box input[type="text"] {
        padding: 0.6em 0.5em 0.6em 1.5em;
    }
    .d-confirm-discount .form-submit button {
        padding: 0.75em 1em;
    }

    .d-confirm-cost-box h1, .d-confirm-discount-box h1 {
        font-weight: 300;
        color: #0b1921;
        font-size: 1.6em;
        line-height: 1.2;
    }

    .d-confirm-discount .form-row-box .activate {
        bottom: 1.4em;
    }
    .d-confirm-discount .form-row-box input[type="text"]:focus ~ .activate {
        width: 4px;
        height: 4px;
    }
    .form-submit {
        flex: 1;
        margin-bottom: 0;
    }




}

@media (max-width: 550px){

    .form-row-check {
        flex: 100%;
        max-width: 100%;
        margin: 3% 0;
        border: 1px solid #d7d8e2;
        position: relative;
    }

    .form-row .form-row-box label, .d-confirm-discount .form-row-box label {
        padding: 0.6em 0.6em 0.5em 0;
    }

    .d-competition {
        flex-direction: column;
    }

    .d-comp-box {
        width: 100%;
        margin: 1em 0 0.5em 0;
        display: flex;
        align-items: center;
    }
    .d-comp-b-content {
        flex-direction: row;
    }

}