body {
    background-color: #f4f5ff;
}

#content {
    width: 100%;
    display: block;
}

.content-inner {
    width: 94%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    background-color: #ffffff;
    margin: 50px auto 15px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.content-title {
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    padding: 4rem 0;
    position: relative;
}
.content-title::before {
    content: "";
    width: 40px;
    height: 6px;
    background-color: #85ab30;
    position: absolute;
    bottom: -3px;
    left: -20px;
}
.content-title::after {
    content: "";
    width: 40px;
    height: 6px;
    background-color: #85ab30;
    position: absolute;
    bottom: -3px;
    right: -20px;
}
.content-title h1 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #0b1921;
}
.content-title h1 span {
    font-weight: 900;
}
.content-title h3 {
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #0b1921;
    margin-top: 0.7em;
}
.content-title h3 span {
    font-weight: 700;
    border-bottom: 1px solid #0b1921;
}

.form-type-title {
    width: 100%;
    display: flex;
    margin: 2em 0;
}
.form-type-title.login-p {
    margin-top: 4em;
}
.form-type-step-n {
    display: flex;
    align-items: center;
    background-color: #0b1921;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 0.5em 2em;
    text-transform: uppercase;
    margin-right: 1em;
}
.form-type-step-n span {
    font-weight: 700;
    border-bottom: 1px solid white;
    margin-left: 0.5em;
}
.form-type-title.login-p .form-type-step-n span {
    margin-left: 0;
    margin-right: 0.5em;
}
.form-type-title-text {
    flex: 1;
}
.form-type-title-text h3 {
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0b1921;
}
.form-type-title-text p {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2e5f7c;
}
.form-type-title-text p a {
    font-weight: 700;
    color: #2e5f7c;
    border-bottom: 1px solid #0b1921;
}

.c-form-content {
    width: 94%;
    margin: 0 auto;
    position: relative;
    display: block;
}

.form-loader {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
    animation: loaderColorChange 2s infinite;
    transition: 0.2s all;

}
.form-loader.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.form-loader i {
    font-size: 4em;
}

@keyframes loaderColorChange {
    0% {
        color: rgb(0,152,218);
    }
    33% {
        color: rgb(133, 171, 48);
    }
    66% {
        color: rgb(242, 99, 34);
    }
    100% {
        color: rgb(0,152,218);
    }
}

.step-1, .step-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.step-1.active, .step-2.active {
    opacity: 1;
    position: relative;
    pointer-events: all;
}


.form-row {
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    margin: 10px 0;
    padding-bottom: 30px;
}
.form-row .form-row-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.form-row .form-row-box:nth-child(2),
.form-row .form-row-box:nth-child(3) {
    margin-left: 5em;
}

.form-row .form-row-box label {
    display: table;
    color: rgba(18,37,47,0.7);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding: 1em 1.2em 1em 0;
}
.form-row .form-row-box p {
    font-size: 1em;
    font-weight: 300;
    color: #0b1921;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.form-row .form-row-box label::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #0080c4;
    position: absolute;
    top: 50%;
    left: 100%;
}

.form-row .form-row-box input[type="text"],
.form-row .form-row-box input[type="password"],
.form-row .form-row-box input[type="email"],
.form-row .form-row-box textarea {
    width: 100%;
    display: block;
    border: 1px solid #f3f3f3;
    color: #0b1921;
    font-family: inherit;
    font-size: 1.4em;
    letter-spacing: 2px;
    padding: 1em 2em;
    transition: 0.3s all;
}

.form-row .form-row-box textarea:focus,
.form-row .form-row-box input[type="text"]:focus,
.form-row .form-row-box input[type="password"]:focus,
.form-row .form-row-box input[type="email"]:focus {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
}


.activate {
    transition: 0.4s all;
    width: 10px;
    height: 10px;
    background-color: #85ab30;
    border: 1px solid #e0e0e0;
    opacity: 0;
    position: absolute;
    left: 10px;
    bottom: 2em;
}


.form-row .form-row-box input[type="text"]:focus ~ .activate,
.form-row .form-row-box input[type="password"]:focus ~ .activate,
.form-row .form-row-box input[type="email"]:focus ~ .activate {
    opacity: 1;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #85ab30;
    border: 1px solid #e0e0e0;
    box-sizing: content-box;
}

.form-row .form-row-box select {
    display: none;
}


/* SELECT BOX */
.select-box {
    width: 100%;
    flex: 1;
    position: relative;
    border: 1px solid #f3f3f3;
    cursor: pointer;
}
.select-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    padding: 1.2em 2.4em;
}
.select-selected span {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #0b1921;
    pointer-events: none;
}
.select-selected i {
    font-size: 1.6em;
    color: #777777;
    pointer-events: none;
}
.select-drop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 12;
    transition: 0.2s all;
}
.select-drop.select-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.select-drop ul {
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: scroll;
    list-style: none;
    background-color: #f9f9f9;
}
.select-drop ul li {
    font-size: 1.2em;
    padding: 1em 2em;
    border-bottom: 1px solid #e0e0e0;
    display: block;
}
.select-drop ul li:hover {
    background-color: #f3f3f3;
}


.form-submit {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-submit input {
    height: 30px;
    display: block;
    border-radius: 2em;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    background: #0080c4;
    border: none;
    padding: 0 3em;
    cursor: pointer;
}

.form-submit #next {
    height: 30px;
    display: block;
    border-radius: 2em;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    background: #0080c4;
    border: none;
    padding: 0 3em;
    cursor: pointer;
}
.form-submit #next i {
    margin-left: 0.5em;
}

.form-submit #back {
    height: 30px;
    display: block;
    border-radius: 2em;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0b1921;
    background: #e4e8eb;
    border: none;
    padding: 0 2em;
    cursor: pointer;
    margin-right: 2em;
}
.form-submit #back i {
    font-size: 0.9em;
    margin-right: 0.5em;
}

/* Registration Confirmed */

.registration-confirmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3em 0;
}

.tick-icon {
    width: 50px;
    height: 50px;
    margin-top: -5.5em;
    margin-bottom: 2em;
    background-color: #85ab30;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tick-icon i {
    color: #ffffff;
    font-size: 2em;
}

.registration-confirmed h1 {
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #0b1921;
}

.registration-confirmed h3 {
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #0b1921;
}

.registration-confirmed p {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: #0b1921;
    margin: 1em 0;
}

.registration-confirmed a {
    font-weight: 400;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border-radius: 2em;
    color: #ffffff;
    background-color: #85ab30;
    letter-spacing: 1px;
}

.form-error {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f26322;
    margin-top: -3em;
}
.form-error-text {
    padding: 1em 2em;
}
.form-error-text h3 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.form-error-text p {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
}

.form-success {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #85ab30;
    margin-top: -3em;
}
.form-success-text {
    padding: 1em 2em;
}
.form-success-text h3 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.form-success-text p {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
}