* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    background-color: #f4f5ff;
}

a {
    transition: 0.2s all;
}

a:link {
    text-decoration: none;
}

#header {
    width: 100%;
    background-color: rgba(18,37,47,1);
    position: relative;
    display: block;
}

.header-inner {
    width: 94%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

#logo {
    max-width: 180px;
}

#logo img {
    width: 100%;
    display: block;
}

.header-inner nav {
    display: flex;
}

.header-inner nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.header-inner nav ul li {
    margin: 0 5px;
    border: 1px solid rgba(255, 255, 255, 0.05)
}

.header-inner nav ul li a {
    font-size: 1.2em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0.5em 1em;
    display: block;
}

/* Content */

#content {
    width: 100%;
    display: block;
}

.content-inner {
    width: 94%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    background-color: #ffffff;
    margin: 50px auto 15px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.content-title {
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    padding: 4rem 0;
    position: relative;
}
.content-title::before {
    content: "";
    width: 40px;
    height: 6px;
    background-color: #85ab30;
    position: absolute;
    bottom: -3px;
    left: -20px;
}
.content-title::after {
    content: "";
    width: 40px;
    height: 6px;
    background-color: #85ab30;
    position: absolute;
    bottom: -3px;
    right: -20px;
}

.content-title h1 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #0b1921;
}
.content-title h1 span {
    font-weight: 900;
}

.content-title h3 {
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #0b1921;
    margin-top: 0.7em;
}
.content-title h3 span {
    font-weight: 700;
    border-bottom: 1px solid #0b1921;
}


.content-title p {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #2e5f7c;
    border: 1px solid #dadcf0;
    padding: 0.5em 2em 0.5em 3.5em;
    display: table;
    margin: 2em auto 0 auto;
    position: relative;
}

.content-title p span {
    position: absolute;
    width: 50px;
    height: 14px;
    line-height: 15px;
    background-color: #0b1921;
    color: #ffffff;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.content-body {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.form-row {
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    margin: 10px 0;
    padding-bottom: 30px;
}
.form-row-checks {
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding-bottom: 30px;
}

.form-row .form-row-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.form-row .form-row-box:nth-child(2),
.form-row .form-row-box:nth-child(3) {
    margin-left: 5em;
}

.form-row .form-row-box label,
.form-row-checks .form-row-label label {
    display: table;
    color: rgba(18,37,47,0.7);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding: 1em 1.2em 1em 0;
}
.form-row .form-row-box label::after,
.form-row-checks .form-row-label label::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #0080c4;
    position: absolute;
    top: 50%;
    left: 100%;
}

.form-row-checks .form-row-label p {
    font-size: 1em;
    font-weight: 300;
    color: #0b1921;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.form-row .form-row-box input[type="text"],
.form-row .form-row-box input[type="email"],
.form-row .form-row-box textarea {
    width: 100%;
    display: block;
    border: 1px solid #f3f3f3;
    color: #0b1921;
    font-family: inherit;
    font-size: 1.4em;
    letter-spacing: 2px;
    padding: 1em 2em;
    transition: 0.3s all;
}

.form-row .form-row-box textarea {
    min-height: 150px;
}

.form-row .form-row-box textarea:focus,
.form-row .form-row-box input[type="text"]:focus,
.form-row .form-row-box input[type="email"]:focus {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
}

.activate {
    transition: 0.4s all;
    width: 10px;
    height: 10px;
    background-color: #85ab30;
    border: 1px solid #e0e0e0;
    opacity: 0;
    position: absolute;
    left: 10px;
    bottom: 2em;
}

.form-row .form-row-box input[type="text"]:focus ~ .activate,
.form-row .form-row-box input[type="email"]:focus ~ .activate {
    opacity: 1;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #85ab30;
    border: 1px solid #e0e0e0;
    box-sizing: content-box;
}

.form-row .form-row-box select {
    display: none;
}

/* SELECT BOX */
.select-box {
    width: 100%;
    flex: 1;
    position: relative;
    border: 1px solid #f3f3f3;
    cursor: pointer;
}

.select-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    padding: 1.2em 2.4em;
}

.select-selected span {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #0b1921;
    pointer-events: none;
}
.select-selected i {
    font-size: 1.6em;
    color: #777777;
    pointer-events: none;
}

.select-drop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 12;
    transition: 0.2s all;
}
.select-drop.select-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}


.select-drop ul {
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: scroll;
    list-style: none;
    background-color: #f9f9f9;
}

.select-drop ul li {
    font-size: 1.2em;
    padding: 1em 2em;
    border-bottom: 1px solid #e0e0e0;
    display: block;
}

.select-drop ul li:hover {
    background-color: #f3f3f3;
}


/* Checkboxes */

.form-row-checks-all {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-row-check {
    flex: 18%;
    margin: 1% 1%;
    border: 1px solid #f4f5ff;
    position: relative;
}

.form-row-check input {
    display: none;
}

.form-row-check label {
    display: block;
    width: 100%;
    padding: 1em 2em;
    cursor: pointer;
    text-align: center;
    opacity: 0.7;
}
.form-row-check label:hover {
    opacity: 0.9;
}

.form-row-check label i {
    font-size: 1.8em;
    color: #0b1921;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #0b1921;
    border-radius: 50%;
}

.form-row-check label h3 {
    font-size: 1em;
    color: #0b1921;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1em;
}

.form-row-check input:checked ~ label {
    background-color: #85ab30;
    opacity: 1;
}
.form-row-check input:checked ~ label i {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.form-row-check input:checked ~ label h3 {
    color: #ffffff;
}


.form-row-fall {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.form-row-fall .form-row-box:nth-child(2) {
    margin-left: 0;
}

.experience p {
    font-size: 1em;
    font-weight: 700;
    background-color: #f26322;
    color: #ffffff;
    padding: 0.4em 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#tellus {
    display: none;
}

#tellus.active {
    display: flex;
    flex-direction: column;
}

.fileup p {
    font-size: 1em;
    color: #0b1921;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 1em;
}

.form-submit {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-submit input {
    height: 30px;
    display: block;
    border-radius: 2em;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    background: #0080c4;
    border: none;
    padding: 0 3em;
    cursor: pointer;
}

/* Copyright */

#copyright {
    display: block;
    width: 100%;
    background-color: #0b1921;
    text-align: center;
    padding: 2em 0;
}

#copyright p {
    font-size: 1.2em;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 1.5em;
}
#copyright p b {
    font-weight: 700;
}


.content-error {
    width: 90%;
    display: block;
    margin: 15px auto;
    padding: 10px;
    background-color: #a81616
}


.content-success {
    width: 90%;
    display: block;
    margin: 15px auto;
    padding: 10px;
    background-color: #85ab30;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

.content-error ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-error ul li {
    font-size: 1.2em;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 300;
}
.content-error ul li b {
    font-weight: 400;
}
.content-error ul li span {
    font-weight: 700;
}


@media screen and (max-width:700px){

    .header-inner {
        flex-direction: column;
        align-items: center;
    }
    #logo {
        max-width: 150px;
        margin-bottom: 1em;
    }
    .header-inner nav ul li a {
        font-size: 1em;
        letter-spacing: 1px;
        text-align: center;
    }

    .content-title {
        padding: 2rem 0;
    }
    .content-title h1 {
        font-size: 1.6em;
        letter-spacing: 2px;
    }
    .content-title h3 {
        font-size: 1em;
        letter-spacing: 1px;
    }
    .content-title p {
        font-size: 0.8em;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 0.5em 1em 0.5em 3.5em;
    }
    .content-error ul li {
        font-size: 1em;
        letter-spacing: 1px;
    }

    .form-row .form-row-box input[type="text"], .form-row .form-row-box input[type="email"], .form-row .form-row-box textarea {
        font-size: 1.2em;
    }
    .activate {
        bottom: 1.6em;
    }

 
    .form-row {
        flex-direction: column;
    }
    .form-row .form-row-box:nth-child(2), .form-row .form-row-box:nth-child(3) {
        margin-left: 0;
    }
    
}